@import "styles/var.scss";

html {
    font-family: "Poppins";
    color: $black;

    body {
        margin: 0;
    }
    a {
        color: $black;
        text-decoration: none;
    }

    button {
        cursor: pointer;
    }

    input {
        font-family: "Poppins";
        border: none;
        outline: none;
    }

    .introduction {
        @import "styles/header.scss";
        @import "styles/introduction_section.scss";
    }
    

}