@import "styles/var.scss";

html {

    @import "styles/common_styles.scss";
    @import "styles/mixins.scss";

    .introduction {
        background-image: url(assets/images/bg-image.png);
        background-repeat: no-repeat;

        @media (min-width: 1270px) {
            background-size: 100vw;
        }

        @import "styles/body/header.scss";
        @import "styles/body/introduction_sections.scss";
    }
    

}