header {
    padding-top: 1rem;
    margin: 0 5vw;
    @include flex-margin-left;
    justify-content: space-between;

    div.logo {
        height: 2.25rem;
        width: 20rem;
    }

    nav {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        a.active {
            color: $orange;
        }
    }

    div.search-and-cart {
        display: inline-flex;
        gap: 1.5rem;

        div.search {
            display: inline-flex;
            gap: 0.75rem;
            padding: 0.5rem 0.75rem;
            border-radius: 2rem;
            background-color: $white;
            box-shadow: 6px 2px 24px 0 rgba(0, 0, 0, 0.13);
            
            img {
                vertical-align: middle;

            }
        }
    }
}